body {
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
}
p {
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 100;
    color: #393939;
}
.position {
    width: 1200px;
    margin: 0 auto;
}
.cleaner {
    clear: both;
}
#services-wrapper, #visual-representation-wrapper, #featured, #List-wrapper, #Sidebar-wrapper {
    padding: 100px 0;
}
header, #services, #picture-info, #featured-item-wrapper, #Lists {
    display: flex;
    justify-content: space-between;
}
#Services-btn-wrapper, #info-btn-wrapper {
    text-align: center;
}
.button {
    text-transform: uppercase;
    background-color: #c61732;
    color: white;
    border: none;
    border-radius: 10px;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}
.button:hover {
    text-decoration: underline;
    cursor: pointer;
}
.big-btn {
    padding: 20px;
    font-size: 20px;
}
.big-btn:hover {
    background-color: #ad142c;
}
.featured-btn {
    font-size: 17px;
    padding: 15px 25px;
    background-color: #c61732;
}
.featured-btn:hover {
    background-color: #ad142c;
}
header {
    padding-bottom: 20px;
}
#logo h1 {
    position: relative;
    top: -8px;
    font-size: 2.0em;
    font-weight: 500;
    text-transform: lowercase;
}
nav li {
    display: inline-block;
    text-transform: uppercase;
    word-spacing: 2px;
}
nav li a {
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    font-weight: 100;
}
.selected {
    background-color: #c61732;
    border-radius: 5px;
    color: white;
}
#Banner {
    padding: 80px 0;
    background-image: url("images/banner.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    height: auto;
}
#Banner i {
    font-size: 150px;
}
#Banner hgroup {
    margin: 30px;
}
#Banner h2 {
    font-size: 3em;
    font-weight: 600;
}
#Banner h3 {
    font-size: 1.8em;
    padding: 15px 0;
    font-weight: 500;
}
#services-wrapper {
    background-color: #f5f5f5;
}
.service {
    text-align: center;
}
.service h4 {
    font-size: 1.6em;
    font-weight: 600;
    text-transform: uppercase;
}
.service i {
    display: inline-block;
    font-size: 60px;
    padding: 20px;
    margin: 35px 0;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}
.service p {
    width: 290px;
}
.main-btn {
    font-size: 20px;
    margin-top: 100px;
    padding: 15px 25px;
    left: 50%;
}
.main-btn:hover {
    background-color: #ad142c;
}
#visual-representation-wrapper {
    text-align: center;
}
#visual-representation h3, #featured h3 {
    font-size: 50px;
}
#visual-representation h4, #featured h4 {
    font-size: 20px;
    margin-top: 15px;
}
#picture-info {
    padding: 80px 0;
    border-bottom: 1px solid #393939;
}
#picture-info img {
    width: 580px;
    margin-bottom: 15px;
}
#picture-info p {
    width: 580px;
    text-align: right;
}
#featured {
    background-image: url(images/featured-wrapper-bg.jpg);
    color: white;
    text-align: center;
}
#featured p {
    color: white;
    width: 374px;
    margin: 20px 0 25px 0;
}
#featured-item-wrapper {
    padding-top: 80px;
}
#List-wrapper {
    background-image: url(images/footer-content-wrapper-bg.jpg);
    color: white;
}
.List-item h5 {
    font-size: 1.4em;
    font-weight: 600;
}
.List-item ul {
    margin-top: 20px;
    width: 380px;
}
.List-item ul li {
    padding: 15px 0;
    border-top: 1px solid rgba(255,255,255,.2);
}
.List-item ul li:first-child {
    border: none;
}
.List-item ul li a {
    text-decoration: none;
    color: rgba(255,255,255,.6);
    font-size: 14px;
}
.List-item li a:hover {
    text-decoration: underline;
}
#footer-wrapper {
    padding: 50px 0;
    background-image: url(images/main-wrapper-bg.jpg);
}
footer {
    color: rgba(255,255,255,.4);
    text-align: center;
}
footer p a {
    color: rgba(255,255,255, .6);
    text-decoration: none;
}
/* Sidebar */
#Sidebar-wrapper {
    height: auto;
    overflow: auto;
}
#Sidebar-list-wrapper {
    float: left;
    width: 280px;
    padding-left: 50px;
}
.Sidebar-List-item ul {
    width: 320px;
}
.Sidebar-List-item ul li {
    width: 280px;
    border-top: 1px solid rgba(0,0,0,.1);
}
.Sidebar-List-item ul li a{
    color: #333;
}
#Sidebar-List-item-second {
    margin-top: 80px;
}
.Big-text {
    float: left;
    width: 750px;
    padding-left: 50px;
    text-align: left;
}
.Big-text h3 {
    font-size: 40px;
}
.Big-text h4 {
    font-size: 25px;
    margin-top: 10px;
}
#Text {
    position: relative;
    text-align: left;
    bottom: 0px;
}
#Text p {
    font-size: 13px;
    margin: 1em 0;
    line-height: 1.8em;
}
/* No sidebar */
#No-sidebar-text p {
    width: 1100px;
    padding-left: 0px;
    font-size: 15px;
}